# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Build artifacts
dist/
build/

# Config files
*.env

#IDE files
*.vscode/

# Coverage reports
coverage/

# npm files
package-lock.json
npm-shrinkwrap.json

# System files
.DS_Store
.idea/
.vscode/
